{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

body {
    background: white;
    padding; 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    border-radius: 12px;
    box-shadow: 30px;
    padding: 30px;
}